
#blog{
    font-family: cursive;
    text-align: center;
}

#blog .carousel-inner h4{
    margin-top: 10px;
    padding: 20px;
}

#blog .carousel-inner img{
    width: 550px;
    height: 550px;
    border: solid 3px rgb(0, 0, 0);;
}

#blog h3{
    color: rgb(133, 2, 2);
}

#blog p{
    color: rgb(155, 0, 0);
}